body {
    background-color: #D5E1EF;
    margin: 0;
}

.main-div {
    background-color: #ffffff;
    width: 280px;
    margin: 0 auto;
    position: relative;
    top: 130px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h1{
    margin: 0;
    font-size: 17px;
}

p {
    padding: 8px 16px 40px 16px;
    color: #99A1AE;
}

h1,
p {
    text-align: center;

}

img {
    width: 250px;
    padding: 15px;
    border-radius: 25px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}