html {
    --color-white-400: hsl(0, 0%, 100%);
    --color-gray-200: hsl(212, 45%, 89%);
    --color-blue-200: hsl(220, 15%, 55%);
    --color-blue-800: hsl(218, 44%, 22%);
}

body {
    background-color: var(--color-gray-200);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

main {
    width: 18rem;
    margin: 5rem auto;
    padding: 1rem;
    background-color: var(--color-white-400);
    border-radius: 6px;
}

h1 {
    font-size: 1.3rem;
    padding: 0 1rem;
    color: var(--color-blue-800);
    text-align: center;
}

img {
    width: 18rem;
    border-radius: 6px;
}

p {
    text-align: center;
    padding: 0 1rem;
    color: var(--color-blue-200);
}

footer {
    text-align: center;
}

footer a {
    color: var(--color-blue-800);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}